/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}






#maincontainer
{
	width:100%;
	min-height:400px;
	text-align:center;	
}

body,html
{
	background: -webkit-linear-gradient(#fddf03, #ff9900);
    background: -o-linear-gradient(#fddf03, #ff9900);
    background: -moz-linear-gradient(#fddf03, #ff9900);
    background: linear-gradient(#fddf03, #ff9900);
	
	
	overflow-x:hidden;
	font-family: 'Droid Sans', sans-serif;
}

#header
{
	
	
	width:100%;
	
	
	text-align:center;
	
	
}

#header ul, #header li
{
	padding:0 !important;
	margin:0 !important;
	display:inline-block;
}

#mymaincontent
{
	width:100%;
	text-align:center;
	
	
	display:inline-block;
	
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	
	background:rgba(255,255,255,0.7);
}

@media (min-width:1050px){

	#mymaincontent
	{
		width:1000px;
	}
}

.mymenus
{
	margin-top:-75px;
}

.headeritem
{
	vertical-align:top;
	
	width:13.2%;
	height:30px;
	font-size:15px;
	text-align:center;
	list-style-type: none !important;
	display:inline-block;
	color:#af0505 !important;
	letter-spacing: -1px;
	
	display:inline-block;
	vertical-align:bottom;
	
	padding-top:6px !important;
	
	
	
}	

.headeritem h4
{
	padding-top:5px;
}


.mymenus ul
{
	padding-left:0;
}


.headeritem a
{
	text-decoration:none;
}

h4
{
/*	font-size:15px;*/
	font-weight:normal;
	color:#af0505;
}

.headeritem img
{
	width:55px;
}

.headeritem:hover
{
	background:#af0505;
	color:white;
	cursor:pointer;
}

.headeritem:hover h4
{
	color:white;
}

.mainslider .item:hover
{
	opacity:0.9;
}

/*
.headeritem + .headeritem
{
	background-image: url('../img/divider.png');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 3px 80%;
}*/

#mymaincontent ul
{
	
	display:inline-block;
}

.mainbody
{
	width:100%;
	text-align:center;
	min-height:250px;
	display:inline-block;
	padding-bottom:30px;
	
	
	
}


#footer
{
	height:110px;
	
    background: -webkit-linear-gradient(#fddf03, #ff9900);
    background: -o-linear-gradient(#fddf03, #ff9900);
    background: -moz-linear-gradient(#fddf03, #ff9900);
    background: linear-gradient(#fddf03, #ff9900);
	width:100%;
	
	z-index:10;
	position:absolute;
	
	left:0;	
	margin:0;
	
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	text-align:center;
}

#footercontent
{
	width:1000px;
	text-align:center;
	
	display:inline-block;
}

#footercontent img
{
	vertical-align:middle;
}


.footerlist
{
	display:inline-block;
	width:1000px;
	font-size:16px;
	color:black;
	line-height:32px;
	font-weight:Bold;
}


.mainslider li
{
	display:block;
	
	margin:10px;
}

.owl-carousel
{
	padding-top:20px;
}

.mainslider li
{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.mainslider li h3
{
	height:60px;
	width:280px;
	color:white;
	background-image:url('../img/titlebg.png');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	padding:10px;
	font-size:24px;
	text-align:left;
	line-height:30px;
	text-decoration:none;
}

.mainslider a
{
	text-decoration:none;
}



.contentheader
{
	height:30px;
	color:white;
	background-image:url('../img/titlebg.png');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	padding:10px;
	padding-top:18px;
	font-size:28px;
	text-align:left;
	text-decoration:none;
}

.maincontent
{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	
	padding:0;
	
	margin-top:15px;
	text-align:justify;
}

.contentbody
{
	margin:20px;
	min-height:270px;
	font-size:14px;
	line-height:24px;
}










input, textarea
{
	 background: -moz-linear-gradient(center top , #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%) repeat scroll 0 0 padding-box rgba(0, 0, 0, 0);
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    
    height: 25px;
    
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    
	min-width:350px;
}


input[type=submit], button
{
	background: -moz-linear-gradient(center top , #eeeeee 20%, #c3c3c3 80%) repeat scroll 0 0 padding-box rgba(0, 0, 0, 0);
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    font-weight:bold;
    min-width:150px;
    margin:4px;
    height: 25px;
    line-height: 24px;
    overflow: hidden;
    padding:0px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    text-align:center;
    
}
input[type=submit]:hover, button:hover
{
	cursor:pointer;
	color:black;
	background: -moz-linear-gradient(center top , #ffffff 20%, #d5d5d5 80%) repeat scroll 0 0 padding-box rgba(0, 0, 0, 0);
}









.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width:1050px){


	.video-container {
		
		padding-bottom: 56.25%;
		width:100%;
		padding-top: 30px; height: 0; overflow: hidden;
		text-align:center;
	}
	 
	.video-container iframe,
	.video-container object,
	.video-container embed {
		
		display:block;
		width: 700px;
		height: 100%;
		left:50%;
		margin-left:-350px;
	}

}




.addextratextbg
{
	text-shadow: 0px 0px 6px rgba(50, 50, 50, 1);
}